<!DOCTYPE html>
<html>
  <head>
    <title>Research</title>
    <link rel='stylesheet' href='/css/nav.css' />
    <link rel='stylesheet' href='/css/utils.css' />
    <link rel='stylesheet' href='/css/sections.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/footer.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav class="navbar">
      <a href="./"><img src="img/LogoLab.svg" alt="" class="logo"></a>
      <div class="nav-links">
        <ul>
          <li class="activate"><a href="#">Home</a></li>
          <li><a href="./people.ejs">People</a></li>
          <li><a href="./publications.ejs">Publications</a></li>
          <li><a href="./research.ejs">Research</a></li>
          <li><a href="./teaching.ejs">Teaching</a></li>
          <li><a href="./openpositions.ejs">Open Positions</a></li>
          <li><a href="./contact.ejs">Contact</a></li>
        </ul>
      </div>
    </nav>
    
    <main>
      <div>
        <h1>Home</h1>
        <div>
          <div id="route">
            <h2><a href="./">Home</a> / Home</h2>
          </div>
          <article id="primary-content">Welcome to the Bioinformatics and Laboratory of Machine Learning (LBA<sup>2</sup>). Led by Dr. Edwin Valarezo, our laboratory is dedicated to research in Machine Learning and its application in the field of Bioinformatics.</article>
          <div id="content-image">
            <div id="secondary-content">
              <article>At LABioML, we focus on utilizing Machine Learning and Data Mining techniques to extract valuable insights from large biological datasets. Our goal is to develop advanced algorithms and models that enable efficient and accurate analysis of genetic and molecular information.
                Our research areas:
                <ul>
                  <li>Department of Biology at XYZ University</li>
                  <li>Internationally renowned Bioinformatics Center</li>
                  <li>Collaboration Network in Machine Learning and Artificial Intelligence in Biomedicine</li>
                </ul>
              </article>
            </div>
            <!--<img src="img/LogoLab.svg" height="150" alt="xss">-->
            <video width="600" autoplay loop muted>
              <source src="video/laboratory.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-content">
          <h3>Laboratorio Bioinform치tica y Aprendizaje Aut칩nomo</h3>
          <ul class="socials">
              <li><a href="https://www.facebook.com/espol" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/espol" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/@espol1" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A15092634&keywords=escuela%20superior%20polit%C3%A9cnica%20del%20litoral&origin=RICH_QUERY_SUGGESTION&position=1&searchId=77076dd2-844a-4976-ac98-3b59483e518a&sid=LPK" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2023 Laboratorio Bioinform치tica y Aprendizaje Aut칩nomo</p>
      </div>
    </footer>
  </body>
  <script src=""></script>
</html>
