<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/utils.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <a href="/">
            <img src="img/logoEspol.svg" alt="" class="logo">
          </a>
          <ul class="list-header">
            <li>
              <a href="./people.ejs">People</a>
            </li>
            <li>
              <a href="./publications.ejs">Publications</a>
            </li>
            <li>
              <a href="./research.ejs">Research</a>
            </li>
            <li>
              <a href="./teaching.ejs">Teaching</a>
            </li>
            <li>
              <a href="./openpositions.ejs">Open Positions</a>
            </li>
            <li>
              <a href="./contact.ejs">Contact</a>
            </li>
          </ul>
        </nav>
    </header>
    <main>
        <div>
            <p><a href="/">Home</a> / People</p>
        </div>
        <img src="/img/equipo.jpg" alt="team">
        <h1>Team</h1>
        <div>
            <div>
                <h2>Jefe</h2>
                <img class="circle" src="/img/equipo.jpg" alt="">
                <h3>Edwin Valarezo</h3>
                <h4>Prof. Dr</h4>
            </div>
            <div>
                <h2>Students</h2>
                <div>
                    <img class="circle" src="/img/equipo.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
</body>
</html>