<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='/css/nav.css' />
      <link rel='stylesheet' href='/css/utils.css' />
      <link rel='stylesheet' href='/css/sections.css' />
      <link rel='stylesheet' href='/css/fonts.css' />
      <link rel='stylesheet' href='/css/main.css' />
      <link rel='stylesheet' href='/css/footer.css' />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>People</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="./"><img src="img/LogoLab.svg" alt="" class="logo"></a>
      <div class="nav-links">
        <ul>
          <li class="activate"><a href="#">Home</a></li>
          <li><a href="./people.ejs">People</a></li>
          <li><a href="./publications.ejs">Publications</a></li>
          <li><a href="./research.ejs">Research</a></li>
          <li><a href="./teaching.ejs">Teaching</a></li>
          <li><a href="./openpositions.ejs">Open Positions</a></li>
          <li><a href="./contact.ejs">Contact</a></li>
        </ul>
      </div>
    </nav>

    
    <main>
      <div>
        <h1>People</h1>
        <div>
          <div id="route">
            <h2><a href="./">Home</a> / People</h2>
          </div>
          <div id="grid">
            <section id="students">
              <article class="integrantes">
                <img class="circle" src="img/integrantes/jose_miguel.jpg" alt="Jose Miguel" width="150">
                <div>
                  <span class="name">Jose Miguel Santos</span>
                  <sapn class="carrer">Mecatronico</sapn>
                </div>
              </article>
              <article class="integrantes">
                <img class="circle" src="img/integrantes/dario.jpg" alt="Dario Laborde" width="150">
                <div>
                  <span class="name">Dario Laborde Jimenez</span>
                  <span class="carrer">Computacion</span>
                </div>
              </article>
              <article class="integrantes">
                <img class="circle" src="img/integrantes/carlos.jpg" alt="Carlos" width="150">
                <div>
                  <span class="name">Carlos Jimenez Farfan</span>
                  <span class="carrer">Computacion</span>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </main>


    <section id="students">
      <article class="integrantes">
        <img class="circle" src="img/integrantes/jose_miguel.jpg" alt="Jose Miguel" width="150">
        <div>
          <span class="name">Jose Miguel Santos</span>
          <sapn class="carrer">Mecatronico</sapn>
        </div>
      </article>
      <article class="integrantes">
        <img class="circle" src="img/integrantes/dario.jpg" alt="Dario Laborde" width="150">
        <div>
          <span class="name">Dario Laborde Jimenez</span>
          <span class="carrer">Computacion</span>
        </div>
      </article>
      <article class="integrantes">
        <img class="circle" src="img/integrantes/carlos.jpg" alt="Carlos" width="150">
        <div>
          <span class="name">Carlos Jimenez Farfan</span>
          <span class="carrer">Computacion</span>
        </div>
      </article>
    </section>




    <footer>
      <div class="footer-content">
          <h3>Laboratorio Bioinform치tica y Aprendizaje Aut칩nomo</h3>
          <ul class="socials">
              <li><a href="https://www.facebook.com/espol" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/espol" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/@espol1" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A15092634&keywords=escuela%20superior%20polit%C3%A9cnica%20del%20litoral&origin=RICH_QUERY_SUGGESTION&position=1&searchId=77076dd2-844a-4976-ac98-3b59483e518a&sid=LPK" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2023 Laboratorio Bioinform치tica y Aprendizaje Aut칩nomo</p>
      </div>
    </footer>
  </body>
</html>