:root {
    --white: #f5f9fa;
    --white2: #ebf3f5;
    --black: #323333;
    --black2: #2a2b2b;
    --shine: #485592;
}

main div {
    display: flex;
}

main div h1 {
    font-weight: 5;
    font-size: 2.1rem;
    text-align:center;
    writing-mode: vertical-lr;
    transform: rotate(360deg);
    margin: 0;
    padding: 1.4%;
    border-right: 2px solid #323333;
}

main div div {
    display: block;
    justify-items: center;
    padding: 95px 113px ;
}

#content-image {
    padding: 20px 0 0 0;
    display: flex;
}

#content-image img{
    padding: 5%;
}

#route {
    padding: 0;
    font-size: 0.6rem;
    word-spacing: 4px;
}

#primary-content {
    font-size: 2rem;
    line-height: 1.3;
    padding: 15px 0;
    word-spacing: 4px;
}

#secondary-content {
    padding: 0 40px 0 0;
    font-size: 1.3rem;
    word-spacing: 4px;
}